<div class="group relative flex flex-col overflow-hidden rounded-lg border border-gray-200 bg-white">
  <div class="aspect-h-4 aspect-w-3 bg-gray-200 sm:aspect-none group-hover:opacity-75 sm:h-64 overflow-hidden flex items-center justify-center">
    @if (product.imageUrl) {
      <img [src]="product.imageUrl" alt="Product image" class="h-full w-full object-cover object-center transition-transform hover:scale-105">
    } @else {
      <svg class="h-16 w-16 text-gray-400" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
      </svg>
    }
  </div>
  <div class="flex flex-1 flex-col space-y-2 p-4">
    <h3 class="text-sm font-medium text-gray-900">
      <a routerLink="/product/{{ product.id }}">
        <span aria-hidden="true" class="absolute inset-0"></span>
        {{ product.name }}
      </a>
    </h3>
    <p class="text-sm text-gray-500 line-clamp-2">{{ product.description }}</p>
    <div class="flex flex-1 flex-col justify-end">
      <p class="text-base font-semibold text-gray-900">${{ product.price }}</p>
    </div>
  </div>
</div>